<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>AJOUT D'UNE VAGUE</h1>

        <!-- <form
          #vagueForm="ngForm"
          (ngSubmit)="onAddVague(vagueForm)"
          method="post"
        > -->
          <div class="mb-2">
            <label for="" class="form-label">Mois</label>
            <!-- <input type="text" required="" class="form-control" name="mois" ngModel #mois="ngModel"  /> -->
            <div class="form-text">
              Entrer le mois de la vague de soutenance
            </div>
          </div>

          <div class="mb-2">
            <label for="" class="form-label">Annee</label>
            <!-- <input type="number" required="" class="form-control" name="annee" ngModel #annee="ngModel" required /> -->
            <div class="form-text">
              Entrer l'annee de la vague de soutenance
            </div>
          </div>
          <button type="submit reset" class="btn1 btn-primary">Add</button>
        <!-- </form> -->
      </div>




      <div class="col-md-8">
        <h1>Liste des vagues de soutenances</h1>

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col" class="text-center">ID</th>
              <th scope="col" class="text-center">MOIS</th>
              <th scope="col" class="text-center">ANNEE DE SOUTENANCE</th>
              <th scope="col" class="text-center">EDIT</th>
              <th scope="col" class="text-center">DELETE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vague of listVague">

              <td class="text-center">{{ vague.id }}</td>
              <td class="text-center">{{ vague.mois }}</td>
              <td class="text-center">{{ vague.annee }}</td>
              <td>
                <button type="button" (click)="edit(vague)" class="btn1 btn-primaryUp" data-bs-toggle="modal" data-bs-target="#exampleModal">Update</button>
              </td>
              <td>
                <button type="button" (click)="onDeleteVague(vague.id)" class="btn1 btn-primaryDel">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Modal for update-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h1 class="modal-title fs-5" id="exampleModalLabel">Update {{ titre | lowercase}}</h1> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <form  #vagueUpdateForm="ngForm" (ngSubmit)="updateVague(vagueUpdateForm)" method="post"> -->
          <div class="mb-3">
            <label for="" class="form-label">Vague ID</label>
            <!-- <input type="text" class="form-control" name="mois" ngModel #mois="ngModel"/> -->
            <!-- <input type="number" #id [ngModel]="vagueToUpdate.id" name="id" ngModel class="form-control"/> -->
            <div class="form-text">
              Entrer le ID de la vague de soutenance
            </div>
          </div>

          <div class="mb-3">
            <label for="" class="form-label">Mois</label>
            <!-- <input type="text" class="form-control" name="mois" ngModel #mois="ngModel"/> -->
            <!-- <input type="text" #mois [ngModel]="vagueToUpdate.mois" name="mois" ngModel class="form-control"/> -->
            <div class="form-text">
              Entrer le mois de la vague de soutenance
            </div>
          </div>

          <div class="mb-3">
            <label for="" class="form-label">Annee</label>
            <!-- <input type="number" class="form-control" name="annee" ngModel #annee="ngModel"/> -->
            <!-- <input type="number" #annee [ngModel]="vagueToUpdate.annee" name="annee" class="form-control"/> -->
            <div class="form-text">
              Entrer l'annee de la vague de soutenance
            </div>
          </div>
          <button type="submit"  data-bs-dismiss="modal" class="btn1 btn-primary">Update</button>
        <!-- </form> -->
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn1 btn-secondary2" data-bs-dismiss="modal">Close</button>
        <button type="submit" (click)="updateVague()" class="btn1 btn-primary">Update</button>
      </div> -->
    </div>
  </div>
</div>
