<h1>Liste des archives</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Parcours</th>
      <th scope="col">Filiere</th>
      <th scope="col">File Link</th>
      <th scope="col">themeId</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let archive of listArchive">
      <td>{{ archive.id }}</td>
      <td>{{ archive.parcours }}</td>
      <td>{{ archive.filiere }}</td>
      <td>{{ archive.fileLink }}</td>
      <td>{{ archive.themeId }}</td>
      <!-- <div *ngFor="let theme of listTheme">
        <td *ngIf="archive.themeId == theme.id">{{ theme.titre }}</td>
      </div> -->
    </tr>
  </tbody>
</table>

<br>
<br>
<br>

<!-- <h1>Ajout du Mémoire</h1>

<form #archiveForm="ngForm" (ngSubmit)="onUpload(archiveForm)" enctype="multipart/form-data">

  <label for="file">Fichier :</label>
  <input type="file" name="file" id="file" (change)="onFileSelected($event)" required>
  <br>

  <label for="parcours">Parcours :</label>
  <input type="text" name="parcours" id="parcours" [(ngModel)]="parcours" required>
  <br>

  <label for="filiere">Filière :</label>
  <input type="text" name="filiere" id="filiere" [(ngModel)]="filiere" required>
  <br>

  <label for="administrateurId">ID Administrateur :</label>
  <input type="number" name="administrateurId" id="administrateurId" [(ngModel)]="administrateurId" required>
  <br>

  <label for="themeId">ID Thème :</label>
  <input type="number" name="themeId" id="themeId" [(ngModel)]="themeId" required>
  <br>

  <button type="submit">Upload</button>
</form> -->



<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<h1>Ajout du Memoire</h1>

<form #archiveForm="ngForm" (ngSubmit)="onUpload(archiveForm)" method="post" enctype="multipart/form-data">

  <!-- <label for="">Theme : </label>
  <input type="number" name="themeId" ngModel required #themeId="ngModel">
  <br> -->

  <label for="">Theme : </label>
  <select name="themeId" ngModel required #themeId="ngModel">
    <option *ngFor="let theme of listTheme" [value]="theme.id">{{ theme.titre }}</option>
  </select>
  <br>

  <label for="">Parcours : </label>
  <input type="text" name="parcours" ngModel required #parcours="ngModel">
  <br>

  <label for="">Filiere : </label>
  <input type="text" name="filiere" ngModel required #filiere="ngModel">
  <br>

  <label for="">Fichier : </label>
  <input type="file" name="file" ngModel required >
  <br>

  <label for="">Admin Id : </label>
  <input type="number" name="administrateurId" ngModel required #administrateurId="ngModel">
  <br>


  <button type="submit" >Add</button>
</form>

