    <!-- navbar -->
    <nav class="navbar">
      <div class="logo_item">
        <i class="bx bx-menu" id="sidebarOpen"></i>
        <img src="./assets/images/logo.png" alt="">
        <i>EduLand</i>
      </div>

      <!-- <div class="search_bar"> -->
        <!-- <form (ngSubmit)="onSearch()" #searchForm="ngForm"> -->
          <!-- <label>Rechercher</label> -->
          <!-- <input type="text" (input)="onSearchChange($event)"  placeholder="Rechercher par titre de thème" /> -->
          <!-- <button type="submit">Search</button> -->
        <!-- </form> -->
      <!-- </div> -->

      <div class="navbar_content">
        <!-- <i class="bi bi-grid"></i> -->
        <i class='bx bx-sun' id="darkLight"></i>
        <i class='bx bx-bell' ></i>
        <img src="./assets/images/profile.jpg" alt="" class="profile" />
      </div>
    </nav>
